.main {
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


.sideMenu {
    grid-area: sideMenu;
    width: 20rem;
}

.container {
    display: grid;
    grid-template-areas:
        'sideMenu main'
        'pages-button-container pages-button-container';
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: auto auto;
}

.main-container {
    background-color: white;
    padding: 1rem 1rem 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
}

.blog-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image {
    width: 100%;
    height: 8rem;
    object-fit: cover;
}

.date-time-container {
    display: flex;
}

.blog-link {
    text-decoration: none;
}

.pages-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: pages-button-container;
}

.blog-previous-button,
.blog-next-button {
    width: 6rem;
    height: 2.5rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 0.25rem;

}

.blog-previous-button:hover,
.blog-next-button:hover {
    background-color: rgb(48, 48, 48);
    border-radius: 0.4rem;
    transition: all 0.2s ease-in-out;
}

.blog-previous-button:disabled,
.blog-next-button:disabled {
    background-color: rgb(117, 117, 117);
    transition: all 0.2s ease-in-out;
}

.blog-previous-button {
    margin-right: 1rem;
}

.blog-next-button {
    margin-left: 1rem;
}

.blog-index-para {
    font-size: 1.3rem;
    font-weight: 500;
}


/* Run when data not found (Started)*/

.not-found-supreme-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.not-found-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found-h1{
    font-weight: 300;
}

.not-found-para{
    font-weight: 300;
}

/* Run when data not found (Ended)*/

@media only screen and (max-width: 1232px) {
    .main {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 1024px) {
    .main {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-areas:
            'sideMenu'
            'main'
            'pages-button-container';
        gap: 10px;
        padding: 10px;
        grid-template-columns: auto;
    }

    .sideMenu {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .main {
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 425px) {

    .blog-previous-button,
    .blog-next-button {
        width: 5rem;
        height: 2.25rem;
        color: white;
        font-size: 0.8rem;
    }

    .blog-index-para {
        font-size: 1.1rem;
        font-weight: 500;
    }
}

@media only screen and (max-width: 320px) {
    .not-found-h1{
        font-weight: 300;
        font-size: 1.8rem;
    }
}
