.footer {
   display: flex;
   justify-content: space-evenly;
   padding-top: 1rem;
   padding-bottom: 1rem;
   background-color: black;
   color: white;
   width: 100%;
}

.main-address-container, .social-icon-container, .copyright-container{
    padding-left: 2rem;
}

.social-icon{
    text-align: left;
    padding-right: 10px;
}

.social-icon-heading, .address-heading{
    text-decoration: underline;
}
  
.footer-heading{
    height: 50px;
    line-height: 50px;
}


@media (max-width: 640px) {
    .footer{
        flex-direction: column;
    }
}