.blogDetail-image {
    width: 100%;
    height: 50vh;
    object-fit: fill;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.main-container-blogDetail {
    height: 100vh;
    background-color: white;
}

.container-blogDetail {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media only screen and (max-width:768px) {
    .blogDetail-image {
        height: 42vh;
    }
}

@media only screen and (max-width:640px) {
    .blogDetail-image {
        height: 38vh;
    }
}

@media only screen and (max-width:600px) {
    .blogDetail-image {
        height: 30vh;
    }
}

@media only screen and (max-width:425px) {
    .blogDetail-image {
        height: 25vh;
    }
}