.menu-navbar {
    grid-area: menu-navbar;
    display: none;
}

.sideMenu {
    grid-area: sideMenu;
    width: 20rem;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}


.container {
    display: grid;
    grid-template-areas:
        'sideMenu main'
        'footer footer';
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: auto auto;
}


@media only screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-areas:
            'sideMenu'
            'main'
            'footer ';
        gap: 10px;
        padding: 10px;
        grid-template-columns: auto;
    }
    .sideMenu{
        width: 100%;
    }
}


/* @media only screen and (max-width: 1232px) {

    .menu-navbar {
        display: block;
    }

    .container {
        display: grid;
        grid-template-areas:
            'menu-navbar menu-navbar menu-navbar'
            'main main main'
            'footer footer footer';
        gap: 10px;
        background-color: #2196F3;
        padding: 10px;
    }
    .main {
        grid-template-columns: auto auto;
    }
} */